<!-- Google Analytics Tracking code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-97HS0G1ZTW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-97HS0G1ZTW');
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/ga-lite@1/dist/ga-lite.min.js" async></script>
<script>
var galite = galite || {};
galite.UA = '{{site.analytics}}';
</script> -->

<!-- Yandex.Metrika counter -->
<!-- /Yandex.Metrika counter -->
