<div class="links scroll">
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/">🧭Home</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/cases/">💁‍♂️Reviews</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/contacts/">📞Contacts</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/events/">🌍Online Events</a></span>
        <!--<span style="white-space: nowrap">
          <a href="{{site.baseurl}}/blog/">📖Blog</a></span>-->
        <!--<span style="white-space: nowrap">
          <a href="{{site.baseurl}}/archive/">📚Archive</a></span>-->
        <!--<span style="white-space: nowrap">
          <a href="{{site.baseurl}}/memo/">💾Memos</a></span>-->
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/sign/">📅Make an appointment</a></span>
</div>
<!--
<a href="{{site.baseurl}}/archive/"><nobr>📚Архив</nobr></a 💿💾📀💽🧲>
-->
<!--
<div class="links scroll">
        <a href="{{site.baseurl}}/">Главная</a>
        <a href="{{site.baseurl}}/cases/">Отзывы</a>
        <a href="{{site.baseurl}}/blog/">Статьи</a>
        <a href="{{site.baseurl}}/archive/">Архив</a>
</div>
-->
